#background {
  /*background: linear-gradient(to bottom right, #222, #555);*/
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  height: 600px;
  max-width: 1080;
  /*justify-content: center;*/
  flex-direction: column;
}
#popupBackground {
  background: linear-gradient(to bottom right, yellow, orange);
  border: 10px solid silver; /* Adjust the border width as needed */
  box-sizing: border-box;
  width: 60%; /* Set the width as a percentage of the window width */
  height: 60vh; /* Set the height as a percentage of the window height */
  display: flex;
  align-items: center;
  flex-direction: column;
}
#popUpTitle {
  color: red;
  margin-top: 20px;
  margin-bottom: 30px;
  align-self: center;

  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
}
#popupInput {
  align-self: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  color: red;
  text-align: center;
  font-size: 40px;
  margin-top: 40px;
  background-color: rgb(8, 12, 202);
  border: 5px solid rgb(3, 201, 46);
  border-radius: 35%;
  cursor: pointer;
}
#overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.horizontalLine {
  width: 100%;
  border-bottom: 5px solid gray;
  margin: 20 0 20 0;
}
#eventsContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}
#eventSelection {
  width: 300px;
  height: 100px;
  color: red;
  text-align: center;
  background-color: yellowgreen;
  font-size: 36px;
  margin-top: 20px;
  border-radius: 35%;
  border-color: goldenrod;
  border-width: 5px;
}
#charSelection {
  width: 300px;
  height: 100px;
  color: red;
  text-align: center;
  background-color: yellowgreen;
  font-size: 36px;
  margin-top: 20px;
  margin-left: calc(50% - 150px);
  border-radius: 35%;
  border-color: goldenrod;
  border-width: 5px;
}

#title {
  color: rgb(34, 13, 224);
  margin: 0;
  padding: 10px 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#selectText {
  color: rgb(34, 13, 224);
  margin: 0;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  word-wrap: unset;
  font-size: 36px;
  font-weight: normal;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: -60px;
}
#startReturn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#charButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#Continue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  color: orange;
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  margin-left: calc(50% - 150px);
  background-color: rgb(48, 182, 226);
  border: 5px solid yellowgreen;
  border-radius: 35%;
  cursor: pointer;
}
#Continue:hover {
  background-color: yellow;
}
#start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  color: orange;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  background-color: rgb(48, 182, 226);
  border: 5px solid yellowgreen;
  border-radius: 35%;
  cursor: pointer;
}
#startApp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  color: red;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  background-color: rgb(8, 12, 202);
  border: 5px solid rgb(3, 201, 46);
  border-radius: 35%;
  cursor: pointer;
}
#addChar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  color: orange;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  background-color: rgb(48, 182, 226);
  border: 5px solid yellowgreen;
  border-radius: 35%;
  cursor: pointer;
  margin-right: 20px;
}
#addChar:hover {
  background-color: yellow;
}
#return {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  color: red;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  background-color: rgb(8, 12, 202);
  border: 5px solid rgb(3, 201, 46);
  border-radius: 35%;
  cursor: pointer;
}
#return:hover {
  background-color: lightblue;
}
#startApp:hover {
  background-color: lightblue;
}
#closeButton {
  position: absolute;
  top: 20.5%;
  right: 20.5%;
  font-size: 62px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: greenyellow;
}
#closeButton:hover {
  color: green;
}
